<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>책 상세보기</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<style>
		#container{
			margin-top: 100px;
		}
	</style>
</head>
<body>
<div th:replace="~{header::header-fragment}"></div>
	<div id="container">
		<h2>책 상세보기</h2>
		<div class="detail">
			<fieldset>
				<ul>
					<li>
						<label for="bname">서명</label>
						<input type="text" name="bname" id="bname" th:value="${book.bname}" readonly>
					</li>
					<li>
						<label for="publisher">출판사</label>
						<input type="text" name="publisher" id="publisher" th:value="${book.publisher}" readonly>
					</li>
					<li>
						<label for="author">저자</label>
						<input type="text" name="author" id="author" th:value="${book.author}" readonly>
					</li>
					<li>
						<label for="bnumber">책 고유번호</label>
						<input type="text" name="bnumber" id="bnumber" th:value="${book.bnumber}" readonly>
					</li>
					<li>
						<img th:src="@{|/upload/${book.bfilename}|}" alt="책 이미지">
					</li>
					<li>
						<a th:href="@{|/book/update/${book.bookId}|}" sec:authorize="hasAnyAuthority('Admin')"><button type="button">수정</button></a>
                        <button type="button" id="rentalBtn">대여</button>
						<a th:href="@{/book/list}"><button type="button">책목록</button></a>
					</li>
				</ul>
			</fieldset>		
		</div>
	</div>


<script>
	$("#rentalBtn").click(function(){
        if([[${able}]].includes([[${member.memberId}]])){
            alert("대출 불가능 상태입니다.");
            return;
        }
        let confirmed = confirm('대여하시겠습니까?');
        if(confirmed){
            $.ajax({
                type: "post",
                contentType: 'application/json; charset=utf-8',
                url: "/rentalReturn/rental",
                dataType: 'json',
                data: JSON.stringify({
                    book: {
                        bookId : [[${book.bookId}]]
                    },
                    rentalDate : new Date(),
                }),
                success: function(data){
                    console.log("대출성공 : " + data)
                    location.href = "/member/rentallist";
                },
                error: function(response){
                    console.log("대출실패" + response);
                    location.href = "/member/rentallist";
                }
            });
        } else{
            console.log("취소");
        }
	});

</script>
</body>
</html>