<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container">
		<section id="login">
		<h2>비밀번호 찾기</h2>
		<div class="login">
				<fieldset>
					<ul>
                        <li>
                            <p>임시 비밀번호가 메일에 전송되었습니다.</p>
                        </li>
                        <li>
                            <div class="join_login">
                                <button type="submit" class="loginBtn">확인</button>
                            </div>
                        </li>
                    </ul>
				</fieldset>
		</div>
		</section>
	</div>
<script type="text/javascript">
    $(document).ready(function(){
        // 로그인 버튼 클릭 시 창 닫기
        $(".loginBtn").click(function(){
            window.close();
        });
    });
</script>
</body>
</html>