<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container">
		<section id="login">
		<h2>비밀번호 찾기</h2>
		<div class="login">
            <form th:action="@{/member/resetPassword}" method="post" class="loginform">
				<fieldset>
					<ul>
                        <li>
                            <div class="idCheck">
                                <label for="mid">아이디 (<span class="required">*</span>)</label>
                                <input type="text" name="mid" id="mid" placeholder="아이디">
                            </div>
                        </li>
                        <li>
                            <label for="email">이메일 (<span class="required">*</span>) </label>
                            <input type="text" name="email" id="email" placeholder="이메일">
                            <p id="emailMessage" class="email_message"></p>
                        </li>
                        <li>
                            <div class="join_login">
                                <button type="submit" class="loginBtn">이메일 발송</button>
                            </div>
                            <div id="message">
                                <p th:text="${message}" class="success-message"></p>
                                <p th:text="${error}" class="error-message"></p>
                            </div>
                        </li>
                    </ul>
				</fieldset>
			</form>
		</div>
		</section>
	</div>
</body>
</html>