<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script th:src="@{/js/weather.js}"></script>
</head>
<body>
<!-- header.html 연결 -->
<div th:replace="~{/layout/header::header-fragment}"></div>
	<div id="container">
		<section id="main">
		<h2>MyHome</h2>
		<div class="main_img">
			<img th:src="@{/images/B3.jpg}" alt="석민이형">
		</div>
		<div class="weather">
			<h1>오늘의 날씨</h1>
			<h3 class="result">
				<!-- 20240125, 0600, -9.1   -->
			</h3>
		</div>
		</section>
	</div>
<!-- footer.html 연결 -->
<div th:replace="~{/layout/footer::footer-fragment}"></div>
</body>
</html>