<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상세보기</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="wrap">
		<h2>상세보기</h2>
		<table class="tbl_write">
			<tbody>
				<tr>
					<td>
						<input type="text" name="boardTitle" th:value="${board.boardTitle}" readonly>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="boardWriter" th:value="${board.boardWriter}" readonly>
					</td>
				</tr>
				<tr>
					<td>
						<textarea rows="5" cols="50" name="boardContent" th:text="${board.boardContent}" readonly></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<img th:src="@{${board.filepath}}" alt="Image">
<!--						<img th:src="@{/upload/B3.jpg}" alt="Image">-->
					</td>
				</tr>
				<tr>
					<td>
						<!-- <input type="text" name="boardHits" th:value="'조회수 : ' + ${board.boardHits}" readonly> -->
						<span th:text="'조회수 : ' + ${board.boardHits}"></span>
					</td>
				</tr>
				<tr>
					<td>
						<!-- <input type="text" name="createdDate" th:value="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}" readonly> -->
						<!-- <th:block th:if="${board.updatedDate} != null">
							<span th:text="'수정일 : ' + ${#temporals.format(board.updatedDate, 'yyyy-MM-dd HH:mm')}"></span>
						</th:block>
						<th:block th:unless="${board.updatedDate != null}">
							<span th:text="'작성일 : ' + ${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
						</th:block> -->
						<span th:if="${board.updatedDate} != null" 
							th:text="'수정일 : ' + ${#temporals.format(board.updatedDate, 'yyyy-MM-dd HH:mm')}">
						</span>
						<span th:unless="${board.updatedDate} != null" 
							th:text="'작성일 : ' + ${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}">
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<th:block th:if="${session.sessionName == board.boardWriter}">
							<a th:href="@{|/board/update/${board.id}|}"><button type="button">수정</button></a>
						</th:block>
						<a th:href="@{/board/pagelist}"><button type="button">목록</button></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>