<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>수정</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="wrap">
		<h2>수정하기</h2>
		
		<form th:action="@{/board/update}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="id" th:value="${board.id}">
			<input type="hidden" name="boardHits" th:value="${board.boardHits}">
			<input type="hidden" name="createdDate" th:value="${board.createdDate}">
			<table class="tbl_write">
				<tbody>
					<tr>
						<td>
							<input type="text" name="boardTitle" th:value="${board.boardTitle}">
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="boardWriter" th:value="${board.boardWriter}" readonly>
						</td>
					</tr>
					<tr>
						<td>
							<!-- <input type="text" name="boardHits" th:value="'조회수 : ' + ${board.boardHits}" readonly> -->
							<span th:text="'조회수 : ' + ${board.boardHits}"></span>
						</td>
					</tr>
					<tr>
						<td>
							<!-- <input type="text" name="createdDate" th:value="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}" readonly> -->
							<span th:if="${board.updatedDate} != null" 
								th:text="'수정일 : ' + ${#temporals.format(board.updatedDate, 'yyyy-MM-dd HH:mm')}">
							</span>
							<span th:unless="${board.updatedDate} != null" 
								th:text="'작성일 : ' + ${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}">
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<textarea rows="5" cols="50" name="boardContent" th:text="${board.boardContent}"></textarea>
						</td>
					</tr>
					<tr>
						<td>
							<img th:src="@{${board.filepath}}" alt="Image">
							<input type="file" name="boardFile">
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" value="저장">
							<a th:href="@{|/board/delete/${board.id}|}"><button type="button" onclick="return confirm('삭제하시겠습니까?')">삭제</button></a>
							<a th:href="@{/board/pagelist}"><button type="button">목록</button></a>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>