@charset "UTF-8";
/* 공통 스타일 */
*{margin: 0; padding: 0;}
#container{width: 1200px; margin: 30px auto 100px;}
h2{color: skyblue; text-align: center;}
ul li{list-style: none; margin: 16px;}
a{text-decoration: none;}
/* header 스타일 */
header{
	height: 80px;
	background-color: #0077cc;
}
header #logo{
	width: 250px;
	float: left;
	line-height: 80px;
}
#logo h2 a{
	color: greenyellow;
	padding-left: 24px;
	font-style: italic;
}
#logo h2 a:hover{
	color: #eee;
}
header nav{
	width: 900px;
	float: right;
}
#topMenu{
	line-height: 80px;
	padding-left: 150px;
}
#topMenu li{
	float: left;
	margin: 0 10px;
}
#topMenu li a{
	color:  #eee;
	padding: 0 20px;
}
#topMenu li a:hover{
	color: #444;
}

/* footer 스타일 */
footer{
	height: 80px;
	border-top: 2px solid #222;
	clear: both;
}
#bottomMenu{
	margin: 10px 20px;
}
#bottomMenu li{
	float: left;
	margin: 10px 0;
	padding: 0 10px;
	border-right: 1.5px solid #ccc;
}
#bottomMenu li a{
	color: #444;
}
#bottomMenu li:last-child{
	border: none;
}

/* index 스타일 */
#main{width: 1000px; margin: 40px auto;}
#main h1{color: blue; font-style: italic;
	padding: 20px 60px; text-align: center}
#main h2{
	color: blue;
	font-style: italic;
	padding: 20px 60px;
	text-align: center;
}
#main .main_img{
	margin: 16px 30px;
	text-align: center;
}
#main .main_img img{
	border-radius: 5px;
}
#main .newboard{
	margin: 20px;
}
#main .newboard h3{
	margin: 20px;
}
#main .newboard p{
	line-height: 2.5;
}
#main .weather{text-align: center;}
#main .weather .result{margin: 16px;}

/* join 스타일 */
.joinform{width: 450px; margin: 0 auto;}
.joinform label{width: 100px; float: left;}
.joinform input{padding: 5px;}

/* memberlist 스타일 */
.memberlist{width:700px; margin: 0 auto; border-collapse: collapse;}
.memberlist th, td{border:1px solid #ccc; padding: 8px;}
/* detail 스타일 */
.detail{width:420px; margin: 0 auto;}
.detail label{width: 100px; float: left;}
.detail input{padding: 5px;}

/* login 스타일 */
.login{width:420px; margin: 0 auto;}
.login label{width: 100px; float: left;}
.login input{padding: 5px;}
.error{color: red;}

/* 게시판 스타일 */
.wrap{
	width: 1000px;
	margin: 30px auto;
	text-align: center;
}
h1{color: blue;}
a{text-decoration: none;}
.tbl_write{
	width: 600px;
	margin: 0 auto;
	border-collapse: collapse;
}
.tbl_write th, td{border: 1px solid #ccc; padding: 6px;}
.tbl_write input[type="text"]{width: 500px; height: 25px;}
.tbl_write textarea{width: 500px; height: 300px;}

/* pagelist 스타일 */
.pagination{margin: 10px; text-align: center;}
.pagination a{padding: 5px; color: #555; text-decoration: none;}
.btn_write{text-align: center; padding-top: 10px;}
.searchForm{width: 700px; margin: 0 auto; text-align: right; margin-bottom: 12px;}
.sel_type{padding: 4px;}

/* 댓글 스타일 */
.reply p:nth-child(1){border-top: 1px dotted #ccc;}
.reply p:nth-child(2){border-bottom: 1px dotted #ccc;}
.reply p{padding: 5px;}

/* 에러 스타일 */
.error{

}